@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg) scale(0.8);
  }

  50% {
    transform: rotate(180deg) scale(1.2);
  }

  to {
    transform: rotate(360deg) scale(0.8);
  }
}

@keyframes petalBloom {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes stemSway {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(3deg);
  }
}

.bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}